
.color_naranja1{
    background-color: rgb(238, 174, 90);
    height: 40px;
}
    
.color_naranja{
    background-color: rgb(238, 133, 14);
    height: 80px;
    }
.color_blanco_letra{
    font-size:15px;
    font-style: italic;
    color:white;
}


.color_blanco2{
        background-color:rgb(245, 245, 243);
        height: 500px    
}

.color_naranja3{
    background-color: rgb(253, 179, 93);
    height: 200px;
    }









